html {
    height: 100vh;
}

body {
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
}

header {
    background-color: #FFE9F3;
    color: #218380;
    padding: 48px;
    text-align: center;
}

.container {
    background-image: linear-gradient(to top left, #ffacc5, #FFFFFF);
    background-attachment: fixed;
    border: 1px #FFFFFF solid;
    color: #218380;
    margin: 1% 4%;
    padding: 48px;
    text-align: center;
}

p {
    font-size: 20px;
}

footer {
    background-color: #FFE9F3;
    color: #218380;
    padding: 30px; 
    text-align: center;
}